@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        background-image: url('../images/blob-scene-haikei.svg');
       background-size: cover;
  }
  .slideup{
    animation: slideup  2s ease-in-out;
        
  }
  @keyframes slideup {
    from{
         opacity: 0.3;
         line-height: 400px;
    }
    to{
         opacity: 1;
         line-height: 40px;
    }  
   
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF6464;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

 
}

